<DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
	<!--Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">

	<title> How Basic Is It? </title>
</head>


<body>
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
				<div class="header">
					<h1>How Basic Is It</h1>
				</div>
			</div>
			<div class="col-lg-4">
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row text-center">
			<div class="col-lg-4"></div>
			<div class="entrybox">
				<input type="text" class="form-control" id="search">
				<button type="button" class="btn" id="searchBtn">Search</button>
			</div>
			<div class="col-lg-4"></div>
		</div>
	</div>

	<div class="container">
		<div class="row text-center">
			<div class="col-lg-12" id="resultCol">
				<p id="resultParagraph"></p>
			</div>
		</div>
	</div>


</body>

<script>
	$(document).ready(function(){
		$('#searchBtn').on('click', function(){
			var searchText = $('#search').val();
			var sum = 0;
			var jsonResult = new Object();
			console.log(searchText);
				$.ajax({
	  			url: '/googletrends/' + searchText,
	  			type: "GET",
	  			success: function(beta) {
					$("#resultParagraph").text(beta);
					jsonResult = JSON.parse(beta);
					console.log(jsonResult);
					}
				});
				for(var val in jsonResult.timelineData)
				{
					sum += val.value[0];
				}
				console.log(sum);
	});
});
</script>

</html>

